<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <div class="page-container product-container-detail">
        <%- include('./partials/header') %>
        <section class="products-content-detail">
            <div class="container-productos">
                <div class="box-producto">
                    <div class="content-image">
                        <img src=<%= detailProduct.image %> alt="Star Wars Vader" title="Star Wars Vader">
                    </div>
                </div> 
                <div class="product-description">
                    <h2><%= detailProduct.name %></h2>
                    <h3><%= detailProduct.price %> $</h3>
                    <p><%= detailProduct.description %></p>
                     <input type="number" placeholder="#"/>
                      <p><b>Colors:</b> 
                     <% detailProduct.colors.forEach(color => { %>
                        <%=color%>
                     <% }) %>
                     </p>
                    <button role="button" class="button-add"><a href="/productsCart">Añadir al carrito <i class="fas fa-shopping-cart"></i></a></button>
                </div>                         
            </div>
            <div class="product-details">
                <h3>Detalles del producto</h3>
                <div>
                    <span><b>Número de item:</b> SKU-<%= detailProduct.id %></span>
                    <span><b>Categoría:</b> <%= detailProduct.category %></span>
                    <span><b>Fabricante:</b>Funko</span>
                    <span><b>Dimensiones:</b>9 × 12 × 16 cm</span>
                    <span><b>Material:</b>Vinilo.</span>
                </div>
            </div>
        </section>  
    </div>

    <%- include('./partials/footer') %>
</body>
</html>